<template>
       <div class="path" >
          Path:     
          <b-button      
                    v-for="(folder,index) in splitPath" :key="index"
                    class="breadcrumb-btn"
                    @click="goToFolder(index)"
                    size="sm" 
                    variant="link"    
                    :disabled="splitPath.length-1===index"              
                    >
                    <strong>{{folder}}/</strong>
          </b-button>
        </div> 
</template>
<script>
import {  mapGetters } from 'vuex'
export default {
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      getCurPath: 'getCurPath'
    }),
    splitPath() {
      if (typeof this.getCurPath === 'undefined' || this.getCurPath == '/') {
        return ['/']
      }
      let splittedPath = this.getCurPath.split('/')
      // debugger
      splittedPath.shift() //remove first empty string
      splittedPath.unshift('/') //push to head 'root'
      return splittedPath
    }
  },
  methods: {
    async goToFolder(index) {
      let newPath
      if (index !== 0) {
        newPath = this.getCurPath
          .split('/')
          .slice(0, index + 1) //because of first elem is empty string
          .join('/')
      } else {
        newPath = '/'
      }
      this.$store.commit('SET_CUR_PATH', newPath)
      this.$nuxt.$emit('update-cur-folder') //redraw all file list
    }
  }
}
</script>

<style scoped>
.breadcrumb-btn {
  color: aqua;
}
.breadcrumb-btn:disabled {
  color: black;
}
</style>
