<template>
<div class="xp-body">
   <vue-up></vue-up>  
    <b-row class="list-header pb-2">
      <b-col :cols="5">Filename</b-col>
      <b-col :cols="4">Creation time</b-col>
      <b-col :cols="3">Size</b-col>
    </b-row>

    <div v-for="item in files" :key="item.name" @contextmenu.prevent="showContextMenu($event)">
      <b-row class="file-row ml-1 mr-1" v-if="item.name.indexOf(getSearchField)!==-1" id="demo"
        @mouseover="mouseOver(item)" @click="fileClick(item)">
        <b-col class='mr-auto file-icon' :cols="4">           
            <fa v-if="item.isdir"  icon="folder"></fa>
            <fa v-else  icon="file-alt"></fa>
           <p >{{item.name}}</p>
        </b-col>  
        <b-col class="mr-auto ml-auto" :cols="4"> <p >{{new Date(item.time * 1e3).toLocaleString()}}</p></b-col>
        <b-col class="ml-auto" :cols="4"><p >{{bytesToSize(item.size)}}</p></b-col>
      </b-row>
    </div>

  <ul id="context-menu">
    <div class="context-menu-item" @click="fileClick(curItem)" v-if="curItem && !curItem.isdir">
       <fa  icon="download" style="margin-right: 10px;"></fa> 
        Download
    </div>
    <div class="context-menu-item" v-b-modal.changeName>
       <fa  icon="edit" style="margin-right: 10px;"></fa> 
       Change Name
    </div>
    <div class="context-menu-item" v-b-modal.deleteItem>
       <fa  icon="trash-alt" style="margin-right: 10px;"></fa> 
       Remove
    </div>
  </ul>

  <b-modal centered id="changeName"
            ref="modal"
            title="Change item name"
            @ok="changeName"
            @shown="clearName">
      <form @submit.stop.prevent="changeName">
        <b-form-input type="text"
                      placeholder="New name"
                      v-model="newName"></b-form-input>
      </form>
  </b-modal>

  <b-modal centered id="deleteItem"
             ref="modal"
             title="Are you sure?"
             @ok="remove">
      <form @submit.stop.prevent="remove">
      </form>
  </b-modal>

</div>
</template>
<script>
import Path from 'path'
import { mapActions, mapGetters } from 'vuex'
//import FileUploader from '@/components/FileUploader'
export default {
  // components: { FileUploader },
  async beforeMount() {
    this.$nuxt.$on('update-cur-folder', async () => {
      //if something changes and we want to update list
      let response = await this.$store.dispatch('getFilesList', {
        path: this.getCurPath
      })
      this.files = response
    })

    let response = await this.$store.dispatch('getFilesList', {
      path: this.getCurPath
    })
    this.files = response
  },
  computed: {
    ...mapGetters({
      getSearchField: 'getSearchField',
      getCurPath: 'getCurPath'
    })
  },
  data() {
    return {
      files: [],
      curItem: null,
      contextMenuWidth: null,
      contextMenuHeight: null,
      newName: ''
    }
  },

  methods: {
    mouseOver(item) {
      this.curItem = item
    },

    async infoClick() {
      console.log('infoClick', this.curItem)
    },

    async changeName() {
      await this.manage(false, this.newName)
    },
    async remove() {
      await this.manage(true, '')
    },
    async manage(isdel, name) {
      let path = Path.join(this.getCurPath, this.curItem.name)

      if (this.curItem.isdir) {
        let response = await this.$store.dispatch('manageDir', {
          path: path,
          isdel: isdel,
          newName: name
        })
      } else {
        let response = await this.$store.dispatch('manageFile', {
          path: path,
          isdel: isdel,
          newName: name
        })
      }
      if (isdel) {
        this.$popup({
          message: `${this.curItem.name} deleted`,
          backgroundColor: 'rgb(193, 87, 87)',
          color: '#161925',
          delay: 10
        })
      } else {
        this.$popup({
          message: `Renamed ${this.curItem.name} --> ${name}`,
          backgroundColor: 'rgb(180, 214, 211)',
          color: '#161925',
          delay: 10
        })
      }
      this.$nuxt.$emit('update-cur-folder')
    },
    clearName: function() {
      this.newName = ''
    },

    async removeClick() {
      let answer = prompt(
        `You really want to remove ${
          this.curItem.isDirectory ? 'folder' : 'file'
        } ${this.curItem.name}? Enter yes or no`
      )
      if (answer === 'yes') {
        this.$nuxt.$loading.start()
        let response = await this.$store.dispatch('removeFileOrFolder', {
          path: this.curItem.path
        })
        this.$popup({
          message: `File ${this.curItem.name} deleted`,
          backgroundColor: 'rgb(193, 87, 87)',
          color: '#161925',
          delay: 10
        })

        this.$nuxt.$emit('update-cur-folder')
      }
    },

    showContextMenu: function(event) {
      var menu = document.getElementById('context-menu')
      if (!this.contextMenuWidth || !this.contextMenuHeight) {
        menu.style.visibility = 'hidden'
        menu.style.display = 'block'
        this.contextMenuWidth = menu.offsetWidth
        this.contextMenuHeight = menu.offsetHeight
        menu.removeAttribute('style')
      }

      if (this.contextMenuWidth + event.pageX >= window.innerWidth) {
        menu.style.left = event.pageX - this.contextMenuWidth + 'px'
      } else {
        menu.style.left = event.pageX + 'px'
      }

      if (this.contextMenuHeight + event.pageY >= window.innerHeight) {
        menu.style.top = event.pageY - this.contextMenuHeight + 'px'
      } else {
        menu.style.top = event.pageY + 'px'
      }

      menu.classList.add('active')
    },

    async goBack(index) {
      let newPath
      if (index !== 0) {
        newPath = this.curPath
          .split('/')
          .slice(0, index + 1) //because of first elem is empty string
          .join('/')
      } else {
        newPath = '/'
      }

      this.$store.commit('SET_CUR_PATH', newPath)

      let response = await this.$store.dispatch('getFilesList', {
        path: this.getCurPath
      })
      this.files = response
    },

    async fileClick(item) {
      if (item.isdir) {
        this.$store.commit('SET_CUR_PATH', item.path)
        let response = await this.$store.dispatch('getFilesList', {
          path: this.getCurPath
        })
        this.files = response
      } else {
        let response = await this.$store.dispatch('downloadFile', {
          item,
          isInfo: true
        })
      }
    },
    bytesToSize(bytes) {
      var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
      if (bytes == 0) return '0 Byte'
      var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)))
      return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i]
    }
  }
}
</script>

<style scoped>
.breadcrumb-btn {
  margin: 0;
  padding: 0;
}

.remove-btn {
  align-items: baseline;
  cursor: pointer;
}
.file-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
}
p {
  margin: 0px;
  padding-left: 10px;
}

.file-row {
  height: 40px;
  cursor: pointer;
  border-bottom-style: solid;
  border-right-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 0px 0px 10px 0px;
}
.file-row:hover {
  background-color: rgba(34, 88, 214, 0.8);
}

.xp-body {
  padding-top: 15px;
  background-color: rgba(209, 214, 224, 0.8);
  padding-bottom: 5px;
  border-radius: 0px 0px 10px 10px;
}

.list-header {
  padding-left: 40px;
  margin-left: 4px;
  margin-right: 4px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: grey;
}

#context-menu {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
  position: absolute;
  z-index: 2147483647;
  background-color: white;
  border: 1px solid #ebebeb;
  border-bottom-width: 0px;
}

#context-menu.active {
  display: block;
}

.context-menu-icon {
  top: 1px;
  position: relative;
  margin-right: 10px;
}

.context-menu-item {
  display: flex;
  cursor: pointer;
  padding: 8px 15px;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}

.context-menu-item:hover {
  background-color: #ebebeb;
}
</style>