<template>
    <div> 
       <vue-up></vue-up>  
      <label class="btn btn-primary btn-sm" for="file-upload" >
          <fa class="fa-lg add-folder" icon="cloud-upload-alt"></fa> Upload
      </label>
      <input id="file-upload" type="file" ref="file" @change="submitFile($event)"/>
      <b-progress class="progress-bar" size="sm" v-show="getUploadPercent" :value="getUploadPercent" show-progress animated></b-progress>
    </div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
export default {
  props: ['path', 'id'],
  data() {
    return {
      file: null
    }
  },

  computed: {
    ...mapGetters({
      getCurPath: 'getCurPath',
      getUploadPercent: 'getUploadPercent'
    }),
    splitCurPath() {
      if (this.getCurPath == '/') {
        return ['/']
      }
      let splittedPath = this.getCurPath.split('/')
      // debugger
      splittedPath.shift() //remove first empty string
      splittedPath.unshift('/') //push to head 'root'
      return splittedPath
    }
  },
  methods: {
    /*
        Submits the file to the server
      */
    async submitFile(event) {
      this.file = event.target.files[0]
      if (this.file) {
        let response = await this.$store.dispatch('uploadFile', {
          file: this.file,
          path: this.getCurPath, //this.path,
          size: this.file.size //this.id
        })

        this.$popup({
          message: `File ${this.file.name} uploaded`,
          backgroundColor: 'rgb(180, 214, 211)',
          color: '#161925',
          delay: 10
        })

        this.$nuxt.$emit('update-cur-folder')
        this.file = null
        this.$refs.file.value=null
      }
    }
  }
}
</script>

<style>
.progress-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

input[type='file'] {
  display: none;
}
</style>
