<template>
  <b-row class="panel">
     <b-col cols="auto">
        <b-btn size="sm" variant="primary" :disabled="getCurPath==='/'"  @click="goBackClick()">
        <fa  class="fa-lg add-folder" icon="arrow-circle-left" ></fa>
        </b-btn>

        <b-btn size="sm" variant="primary" id="popoverForwardButton-event">
        <fa  class="fa-lg add-folder" icon="arrow-circle-right"></fa>
            <b-popover ref="popover" target="popoverForwardButton-event" title="Not implemented👨‍💻">
               We are working on it
           </b-popover>
        </b-btn>

        <b-btn size="sm" variant="primary" v-b-modal.createFolder>
        <fa  class="fa-lg add-folder" icon="folder-plus"></fa> Create Dir
        </b-btn>
     </b-col>
    <b-col cols="auto" class="mr-auto">
        <FileUploader></FileUploader>
    </b-col>
    <b-col cols="7">
     <b-form-input size="sm" :value="searchField"  @input="updateSearchField" type="text" placeholder="Search file in directory"></b-form-input>
    </b-col>

    <b-modal id="createFolder"
             ref="modal"
             title="Create new folder"
             @ok="newFolder"
             @shown="clearName">
      <form @submit.stop.prevent="newFolder">
        <b-form-input type="text"
                      placeholder="Folder name"
                      v-model="name"></b-form-input>
      </form>
    </b-modal>
  </b-row>
</template>

<script>
import path from 'path'
import FileUploader from '@/components/FileUploader'
import { mapState, mapGetters } from 'vuex'

export default {
  components: {
    FileUploader
  },
  computed: {
    ...mapState({
      searchField: state => state.searchField
    }),
    ...mapGetters({
      getCurPath: 'getCurPath'
    })
  },
  data() {
    return {
      name: ''
    }
  },

  methods: {
    goBackClick() {
      let newPath = path.resolve(this.getCurPath, '..')
      this.$store.commit('SET_CUR_PATH', newPath)
      this.$nuxt.$emit('update-cur-folder') //redraw all file list
    },
    async newFolder() {
      // Query to NS here
      let name = this.name
      let response = await this.$store.dispatch('createFolder', {
        name,
        path: this.getCurPath
      })
      this.$nuxt.$emit('update-cur-folder') //redraw all file list
    },
    clearName: function() {
      this.name = ''
    },
    updateSearchField(text) {
      this.$store.commit('SET_SEARCH_FIELD', text)
    }
  }
}
</script>

<style scoped>
.panel{
  background-color:rgba(209, 214, 224, 0.8);
  padding-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
</style>
