<template>
  <div class="container">
      <b-jumbotron   bg-variant="light" header="An error occurred😞" :lead="error.message" >
         <p >Code: {{statusCode}}</p>

        <nuxt-link to="/">Home page</nuxt-link>
  <!--     Trying to fix mistake when we cant reload index page
        <nuxt-link to="/" v-if="$nuxt.$route.path!=='/'">Home page</nuxt-link>
        <nuxt-link to="/" @click="window.location.reload(true)" v-else>Home page</nuxt-link> -->
      </b-jumbotron>  
  </div>
</template>

<script>
export default {
  props: ['error'],
  computed: {
    statusCode() {
      return (this.error && this.error.statusCode) || 500
    },
  }
}
</script>

<style scoped>

</style>
