<template>
  <div class="main-container" @click="hideContextMenu()">
    <b-container id="explorer-interface">
      <div class="xp-head">
          <BreadCrumbs></BreadCrumbs>
      </div>
      
      <Panel></Panel>
      <FileTree></FileTree>
    </b-container>
  </div>
</template>

<script>

import Panel from '@/components/Panel'
import FileTree from '@/components/FileTree'
import BreadCrumbs from '@/components/BreadCrumbs'
export default {
  components: {
    Panel,
    FileTree,
    BreadCrumbs
  },
  data() {
    return {}
  },
  methods:{
    hideContextMenu: function() {
      document.getElementById("context-menu").classList.remove('active');
    },
  }
}
</script>

<style scoped>
.main-container{
  position: fixed;
  overflow-y: scroll;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-image: url("../assets/xp.png");
}

.xp-head {
  margin-top: 100px;
  padding-top: 3px;
  padding-left: 15px;
  height: 34px;
  width: 100%;
  color:aliceblue;
  background:linear-gradient(rgba(34, 88, 214, 0.7), #2257D6); ;
  border-radius: 10px 10px 0px 0px;
}
.xp-head:hover{
  background: rgba(34, 88, 214, 0.9);
}
</style>
